<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="<%= context.publicPath %>favicon.png">
  <title>Zhongxia Blog</title>
  <meta name="keywords" content="izhongxia, zhongxia, blog">
  <meta name="description" content="把 Github 仓库的 Issue Blog 用网站的形式的展示出来。">
</head>
<body>
  <div id="root"></div>
  <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
  </script>
</body>
</html>
